<div style="width: 600px; height: 500px; background-color: blue;">

      <div style="width:10px; height: 360px; position: absolute; bottom: 0px; left: 320px; background-color: #ff0000;">

                </div>

</div>