/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "./homepage.css";
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.mainContainer {
    margin: 0 auto;
    padding: 0px;
    position: relative;
    width: 100%
}

.gameWindowContainer {
    width: 100%;
    margin: 0px auto;
    height: 800px;
    background: url(https://www.joshmorony.com/media/2016/04/mountains-back.png);
    background-repeat: repeat-x;
    background-size: 40%;
    background-position: bottom;
}

.gameWindow {
    width: 800px;
    margin: 0px auto;
    height: 800px;
    position: relative;
}

.playerPhoenix {
    position: absolute;
    width: 40px;
    height: 22px;
}

.playerPhoenixSimple {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #0a0a0a;
}

.seaContainer {
    background-color: #363457;
    height: calc(100vh - 800px);
}

.seaBlur {
    background-color: #363457;
    opacity: 0.5;
    height: calc(100vh - 800px);
}

.numberBubble {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 48px;
    background-color: seashell;
    color: #000000;
}